.DS_Store
tmp.*

# Go
bin/
/build/
junit-report.xml
coverage.html
.coverage.out
.coverage-*.out

# Reports
ginkgo-coverage-*.out
junit-report.xml

# VSCode
.vscode/

# JetBrains
.idea/*
!.idea/vcs.xml
!.idea/protobuf.xml
!.idea/externalDependencies.xml
